:root {
    --primary-color: #000;
    --secondary-color: #333;
    --background-color: #F0F8FF;
    --text-color: #333333;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    font: var(--heading-font);
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

#logo {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover {
    color: tomato;
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    font: var(--body-font);
}

nav {
    text-decoration: none;
}

h1 {
    font-size: 1.85rem;
    text-align: center;
    font-family: Acme, Arial, sans-serif;
}

h2 {
    color: Maroon;
    font-size: 1.25rem;
}

section {
    margin: 1em auto;
    padding: 1em;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #ddd;
    width: min(800px, 100%);
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    padding: 0.5em;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    font: var(--heading-font);
}

.socialmedia a {
    text-decoration: none;
    background-color: var(--text-color);
}

.hero {
    position: relative;
    background-color: grey;
    color: var(--primary-color);
}

.hero h1 {
    position: absolute;
}

.hero article img,
p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--background-color);
    padding: 16px;
    opacity: 0.8;
    width: calc(100% - 160px);
}

.hero article img {
    float: right;
    width: 90px;
    background-color: var(--secondary-color);
}

footer a {
    text-decoration: none;
}
