* {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    position: relative;
    width: 100px;
    height: auto;
    float: left;
    margin: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0px;
    align-items: center;
}

.navigation li {
    margin: 0;
    padding: 0;
}

.navigation li a {
    display: block;
    background-color: #fff;
    border: 1px solid #000;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
    color: inherit;
}

header nav ul {
    margin: 0;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.button {
    background-color: #00ff00;
    border-radius: 5px;
    width: 10;
    height: auto;
    padding: 10px 20px;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.input {
    text-align: center;
    font-size: large;
    padding: 10px 20px;
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}