* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #eee;
    color: #333;
    padding: 1rem;
    display: block;
}

nav a {
    color: #333;
    padding: 10rem 10;
    display: block;
    text-decoration: none;
}

main {
    max-width: 840px;
}

h1 {
    color: #000;
}

aside {
    width: 20px;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 10px solid #000;
    padding: 1px;
    box-shadow: 5px 5px 5px #333;
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    clear: both;
}


/* Class selectors */

.box {
    border: 1px solid #000;
    padding: 1rem;
    margin: 1rem;
    background-color: #fff;
    color: #333;
}

header,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
