nav {
    background-color: #eee;
    color: #333;
    padding: 1rem;
    display: block;
}

main {
    max-width: 840px;
}

h1 {
    color: #000;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb (0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 10px solid #000;
    padding: 1px;
    box-shadow: 5px 5px 5px #000;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
